:root {
  --tp-body-color: #5a5860;
  --tp-theme-color: #ffcf4e;
  --tp-primary-color: #073d30;
  --tp-primary-color-2: #055c4d;
  --tp-secondary-color: #fe4e15;
  --tp-pink-color: #ff73ae;
  --tp-bg-white: #ffff;
  --tp-text-white: #f8f3e7;
  --tp-bg-dark: #0000;
  --tp-dark-heading: #121018;
  --tp-bg-grey: #f2f0ec;
  --tp-event-color: #454449;
}
