@use "../../utils/" as *;

.tp-text-slide-area {
  background-color: var(--tp-theme-color);
  .tp-rotate-content {
    transform: rotate(1deg);
    -webkit-transform: rotate(1deg);
    -moz-transform: rotate(1deg);
    -ms-transform: rotate(1deg);
    -o-transform: rotate(1deg);
  }
  .tp-text-slide {
    &-title {
      font-size: 80px;
      font-weight: 300;
      color: #121018;
      & img {
        margin-right: 40px;
      }
    }
  }
  & .tp-text-slide-active {
    & .tp-slide-transition {
      transition-timing-function: linear;
      -webkit-transition-timing-function: linear;
      -moz-transition-timing-function: linear;
      -ms-transition-timing-function: linear;
      -o-transition-timing-function: linear;
    }
    & .swiper-slide {
      width: auto;
      display: inline-block;
    }
  }
}
